.text{
	text-align: center;
}
.library{
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	width: 900px;
	
}
.library li{
	width: 280px;
	border: 1px solid black;
	list-style-type: none;
	padding: 3px;
}
.book{
	margin-left: 10px;
	width: 250px;
	height: 150px;
}
.name{
	color: green;
}
.author{
	color: red;
	font-style:italic;
}

.view{
	color: black;
}
.add{
	text-align: center;
}
#addCommit{
	background-color: chocolate;
}
.see{
	margin-left: 180px;
}
.commentUsers{
	margin: 0 auto;
	border: 1px solid chocolate;
	width: 900px;
	margin-bottom: 10px;
	padding: 10px;
}
.commentUsers h4{
	color: red;
}