.header {
	margin: 0 auto;
	background-color: beige;
	height: 100px;
	text-align: center;
	padding-top: 2em;
}

.header a {
	padding-right: 20px;
	font-size: 24px;
	font-weight: 700;
	text-decoration: none;
	color: red;
}

.fonMain {
	background-image: url(../img/start_web2.jpg);
	margin-top: -80px;
	height: 430px;
	padding-bottom: 50px;
}

.hi {
	padding-top: 200px;
	padding-left: 350px;
	font-size: 50px;
	font-weight: 900;
	color: azure;
}

.best {
	padding-top: 200px;
	padding-left: 350px;
	font-size: 50px;
	font-weight: 900;
	color: darkred;
}

.fon {
	background-image: url(../img/start_web.jpg);
	margin-top: -80px;
	height: inherit;
	padding-bottom: 50px;
}

.text {
	text-shadow: black 0 0 6px;
	color: white;
	text-align: center;
}

.library {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	width: 900px;
}

.library li {
	width: 280px;
	border: 1px solid black;
	list-style-type: none;
	padding: 3px;
}

.book {
	margin-left: 10px;
	width: 250px;
	height: 150px;
}

.bookBig {
	margin-top: 30px;
	padding: 0 450px;
	width: 450px;
	height: 250px;
}

.name {
	text-shadow: black 0 0 2px;
	color: green;
}

.login {
	list-style: none;
	text-shadow: black 0 0 2px;
	font-size: 30px;
	font-weight: 900;
	color: black;
}

.author {
	text-shadow: black 0 0 2px;
	color: red;
	font-style: italic;
}

.price {
	color: black;
	text-shadow: black 0 0 2px;
}

.view {
	text-shadow: black 0 0 4px;
	color: white;
}

.add {
	text-align: center;
}

#addCommit {
	background-color: chocolate;
}

.see {
	margin-left: 180px;
}

.view,
.author,
.name,
.login,
.price {
	text-align: center;
}

.commentUsers {
	margin: 0 auto;
	border: 1px solid chocolate;
	width: 900px;
	margin-bottom: 10px;
	padding: 10px;
}

.commentUsers h4 {
	color: red;
}

.buyBook {
	margin-left: 100px;
	padding: 3px;
	background-color: red;
}

.still {
	padding: 20px 400px;
}

.still a {
	padding: 20px 0;
	font-size: 24px;
	font-weight: 700;
	text-decoration: none;
	color: white;
}

.main {
	margin-top: -230px;
}