<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
<div class="main">
<h2 class="best"> Наши лучшие пользователи:</h2>
<ul>
      {% for item in authorization %}
        <li class="login">{{ item.login }}</li>
      {% endfor %}
    </ul>
</div>
</body>
</html>